@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-6">
    <h1 class="display-4 text-primary fw-bolder mt-4">Welcome to Northwind ERD</h1>
    <p class="fs-4">This platform is a trading site that allows the user to interact <br />with the fictitious Northwind Traders company</p>
</div>


