@{
    ViewData["Title"] = "Statement of Authorship";
}
<h1 class="text-center mt-5" style="font-size:3em">@ViewData["Title"]</h1>

<p class="text-center w-100 fs-8 mt-3" style="font-size:1.5em">
    I, <span class="fw-bolder">Egbewunmeh Kadiri</span>, student number <span class="fw-bolder">000857704</span>, certify that this material is my original work.<br />
    No other person's work has been used without due acknowledgement and I have not made my work<br />
    available to anyone else.
</p>
